.container {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.image {
  width: 1150px;
  height: 500px;
  border-radius: 10px;
}

.left {
  position: absolute;
  cursor: pointer;
  left: 50px;
  font-size: 50px;
  z-index: 2;
  background-color: #d3c5c5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.left:hover {
  opacity: 0.8;
}
.left:active {
  opacity: 0.2;
}

.right {
  position: absolute;
  cursor: pointer;
  right: 50px;
  font-size: 50px;
  z-index: 2;
  background-color: #d3c5c5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.right:hover {
  opacity: 0.8;
}
.right:active {
  opacity: 0.2;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slideactive {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
